<div class="container">
    <aside class="memberList">
        <ul class="membersNav">
            <li ng-click="filterByMe('all')">All </li>
            <li ng-click="filterByMe('popular')">Popular </li>
            <li ng-click="filterByMe('near')">Near Me </li>
            <li ng-click="filterByMe('match')">My Matches</li>
            <li><a href="#">Chat</a> </li>
        </ul>
        <div class="loading-spinner-holder" data-loading ng-show="loading" >
            <div class="loading-spinner"><img src="http://www.platcomventures.com/images/loader_big.gif" />
            </div>
        </div>
        <div class="memberSmall" ng-repeat="member in members">
            <a ui-sref="members.selected({id: member._id})">
            <figure class="avatar">
                <img ng-src="{{member.avatar}}">
            </figure>
            <div class="descriptionSmall">
                <h4>{{member.username}}</h4>
                <p>{{member.names.firstName}}</p>
                <p>I believe: {{member.company.catchPhrase}}</p>
                <p>I live in {{member.address.city}}</p>
                <p>&hearts; {{member._matches.length}}</p>
            </div>
            </a>
        </div>
        <ul class="pagination">
            <li ng-click="changePage(-1)">Previous</li>
            <li>{{pageNumber}}</li>
            <li ng-click="changePage(1)">Next</li>
        </ul>
    </aside>
    <main class="chatSpace">
        <div ui-view>

        </div>
    </main>
</div>
