<div class="container">
    <aside class="memberList">
        <ul>
            <li ng-click="filterByMe('all')">All </li>
            <li ng-click="filterByMe('popular')">Popular </li>
            <li ng-click="filterByMe('near')">Near Me </li>
            <li ng-click="filterByMe('match')">My Matches</li>
            <li><a href="#">Chat</a> </li>
        </ul>
        <div class="memberSmall" ng-repeat="member in members | filter: myFilterBy">
            <figure class="avatar">
                <img ng-src="{{member.avatar}}">
            </figure>
            <div class="descriptionSmall">
                <h4>{{member.username}}</h4>
                <p>{{member.names.firstName}}</p>
                <p>I believe: {{member.company.catchPhrase}}</p>
                <p>I live in {{member.address.city}}</p>
                <p>&hearts; {{member._matches.length}}</p>
            </div>
        </div>
    </aside>
    <main class="chatSpace">

    </main>
</div>
