<div class="container">
    <aside class="memberList">
        <ul>
            <li><a href="#">All</a> </li>
            <li><a href="#">Popular</a> </li>
            <li><a href="#">Near Me</a> </li>
            <li><a href="#">My Matches</a> </li>
            <li><a href="#">Chat</a> </li>
        </ul>
        <div class="memberSmall" ng-repeat="member in members">
            <figure class="avatar">
                <img ng-src="{{member.avatar}}">
            </figure>
            <div class="descriptionSmall">
                <h4>{{member.username}}</h4>
                <p>{{member.names.firstName}}</p>
                <p>I believe: {{member.company.catchPhrase}}</p>
                <p>I live in {{member.address.city}}</p>
            </div>
        </div>
    </aside>
    <main class="chatSpace">

    </main>
</div>
