<div class="container">
    <section class="profile">
        <form class="form" ng-submit="update()">
            <div class="form-group">
                <label>Profile Picture</label>
                <input ng-model="member.avatar" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Given Name</label>
                <input ng-model="member.names.firstName" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Family Name</label>
                <input ng-model="member.names.lastName" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Street Address</label>
                <input ng-model="member.address.street" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Suite/Apt</label>
                <input ng-model="member.address.suite" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>City</label>
                <input ng-model="member.address.city" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input ng-model="member.address.zipcode" class="form-control" type="text" required>
            </div>
            <div class="form-group">
                <label>Website</label>
                <input ng-model="member.website" class="form-control" type="text" required>
            </div>

            <button type="submit" class="btn btn-success">Update</button>
        </form>
        <div class="error">

        </div>
    </section>
    <section class="profile">
        <figure class="avatar">
            <img ng-src="{{member.avatar}}">
        </figure>
        <div class="descriptionSmall">
            <h4>{{member.username}}</h4>
            <p>{{member.names.firstName}}</p>
            <p>{{member.names.lastName}}</p>

            <p>I believe: {{member.company.catchPhrase}}</p>
            <p>I live in {{member.address.city}}</p>
            <p>&hearts; {{member._matches.length}}</p>
        </div>
    </section>
</div>