@import "bourbon";
@import "neat";
@import "bitters/base";
@import "typography";
@import 'expander';

.container   {
  @include outer-container;
}

.navbar{
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    background-color: #333;
    font-size: 16px;
  }
  li {
    display: inline;
  }
}

.memberList {
  @include span-columns(4);
  .avatar {
    @include span-columns(1);
  }
  .descriptionSmall {
    @include span-columns(3);
  }
}

.chatSpace {
  @include span-columns(8);
}

.profile {
  @include  span-columns(6);
}